@import "kouto-swiss"

meyer-reset()

body
	background-color #373737
	color #EFEFEF
	font-family Helvetica

nav
	width 100%
	height 60px
	margin 0
	padding 0
	background-color #636363
	font-weight bold

nav ul
	width 100%

nav ul li
	list-style-type none
	float left
	margin 22px 20px 0

	a
		font-size em(16)
		text-decoration none
		color #F46161
		text-transform uppercase