@import "kouto-swiss"

// COLORS
RED = #F46161
BACKGROUND_BLACK = #373737
TEXT_COLOR = #EFEFEF





// MAIN
meyer-reset()

body
	background-color BACKGROUND_BLACK
	color TEXT_COLOR
	font-family Helvetica





// NAV
nav
	width 100%
	height 60px
	margin 0
	padding 0
	border-bottom 1px solid RED
	font-weight bold

nav ul
	width 100%

nav ul li
	list-style-type none
	float left
	margin 22px 20px 0

	a
		font-size em(16)
		text-decoration none
		color RED
		text-transform uppercase